/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#dark-mode {
  background-color: #1a202c;
  color: white;
}

#dark-mode .fa-moon {
  color: white;
}

#dark-mode #display {
  color: #FDD835;
 
}

#dark-mode .container {

  border: 1px solid #e2e8f0;
}

#dark-mode .calc-button {
  padding: 1.5rem 1rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: black;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

#light-mode {
  background-color: rgb(229, 231, 235);
  
}

#light-mode .container, #display {

  border: 1px solid black;
}

#light-mode .calc-button {
  padding: 1.5rem 1rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: #f0f0f0;
  border: 1px solid black;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

body {
  font-family: "Spartan", sans-serif;
  font-weight: 900;
}

#display {
  font-size: 30px;
}


.calc-button:hover {
  background-color: #e2e8f0;
}

input[type="button"]:active {
  transform: translateY(2px);
}
